@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 135 40% 98%;
        --foreground: 153 43% 4%;
        --card: 135 40% 98%;
        --card-foreground: 153 43% 4%;
        --popover: 135 40% 98%;
        --popover-foreground: 153 43% 4%;
        --primary: 154 45% 51%;
        --primary-foreground: 153 43% 4%;
        --secondary: 185 45% 74%;
        --secondary-foreground: 153 43% 4%;
        --muted: 135 39% 20%;
        --muted-foreground: 153 42% 70%;
        --accent: 199 45% 62%;
        --accent-foreground: 153 43% 4%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 153 43% 4%;
        --border: 135 39% 20%;
        --input: 135 39% 20%;
        --ring: 199 45% 40%;
        --radius: 0.3rem;
    }

    .dark {
        --background: 135 40% 2%;
        --foreground: 153 43% 96%;
        --card: 135 40% 2%;
        --card-foreground: 153 43% 96%;
        --popover: 135 40% 2%;
        --popover-foreground: 153 43% 96%;
        --primary: 154 45% 49%;
        --primary-foreground: 135 40% 2%;
        --secondary: 185 45% 26%;
        --secondary-foreground: 153 43% 96%;
        --muted: 135 39% 80%;
        --muted-foreground: 153 43% 96%;
        --accent: 199 45% 38%;
        --accent-foreground: 153 43% 96%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 154 41% 10%;
        --border: 135 40% 60%;
        --input: 135 39% 80%;
        --ring: 199 45% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
    }

    h2 {
        @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0
    }

}