@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 160 60% 99%;
        --foreground: 180 33% 3%;
        --card: 160 60% 99%;
        --card-foreground: 180 33% 3%;
        --popover: 160 60% 99%;
        --popover-foreground: 180 33% 3%;
        --primary: 162 35% 51%;
        --primary-foreground: 180 33% 3%;
        --secondary: 193 36% 73%;
        --secondary-foreground: 180 33% 3%;
        --muted: 160 61% 20%;
        --muted-foreground: 180 33% 70%;
        --accent: 200 36% 61%;
        --accent-foreground: 180 33% 3%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 180 33% 3%;
        --border: 160 61% 20%;
        --input: 160 61% 20%;
        --ring: 200 36% 40%;
        --radius: 0.25rem;
    }

    .dark {
        --background: 160 60% 1%;
        --foreground: 180 33% 97%;
        --card: 160 60% 1%;
        --card-foreground: 180 33% 97%;
        --popover: 160 60% 1%;
        --popover-foreground: 180 33% 97%;
        --primary: 162 35% 49%;
        --primary-foreground: 160 60% 1%;
        --secondary: 193 36% 27%;
        --secondary-foreground: 180 33% 97%;
        --muted: 160 61% 80%;
        --muted-foreground: 180 33% 97%;
        --accent: 200 36% 39%;
        --accent-foreground: 180 33% 97%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 180 33% 10%;
        --border: 160 60% 60%;
        --input: 160 61% 80%;
        --ring: 200 36% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
    }

    h2 {
        @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0
    }

}