@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 157 80% 98%;
        --foreground: 162 66% 8%;
        --card: 157 80% 98%;
        --card-foreground: 162 66% 8%;
        --popover: 157 80% 98%;
        --popover-foreground: 162 66% 8%;
        --primary: 164 64% 51%;
        --primary-foreground: 162 66% 8%;
        --secondary: 215 65% 75%;
        --secondary-foreground: 162 66% 8%;
        --muted: 157 80% 20%;
        --muted-foreground: 162 66% 70%;
        --accent: 228 65% 62%;
        --accent-foreground: 157 80% 98%;
        --destructive: 0 85% 60%;
        --destructive-foreground: 162 66% 8%;
        --border: 157 80% 20%;
        --input: 157 80% 20%;
        --ring: 228 65% 40%;
        --radius: 0.25rem;
    }

    .dark {
        --background: 158 80% 2%;
        --foreground: 162 66% 92%;
        --card: 158 80% 2%;
        --card-foreground: 162 66% 92%;
        --popover: 158 80% 2%;
        --popover-foreground: 162 66% 92%;
        --primary: 164 64% 49%;
        --primary-foreground: 158 80% 2%;
        --secondary: 215 65% 25%;
        --secondary-foreground: 162 66% 92%;
        --muted: 158 80% 80%;
        --muted-foreground: 162 66% 92%;
        --accent: 228 65% 38%;
        --accent-foreground: 162 66% 92%;
        --destructive: 0 62% 30%;
        --destructive-foreground: 162 65% 10%;
        --border: 158 80% 60%;
        --input: 158 80% 80%;
        --ring: 228 65% 60%;
    }
}

@layer base {
    * {
        @apply border-border;
    }

    body {
        @apply bg-background text-foreground;
    }

    h1 {
        @apply scroll-m-20 text-4xl font-extrabold tracking-tight lg:text-5xl
    }

    h2 {
        @apply mt-10 scroll-m-20 pb-2 text-3xl font-semibold tracking-tight transition-colors first:mt-0
    }

}